html{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header-bar{
    top: 0px;
    background-color: antiquewhite;
    color:darkslategrey;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}